flows.json
[{"id":"d03f56cd.2fc0a8","type":"tab","label":"Flow 1"},{"id":"d357f75f.2ca808","type":"ui_tab","z":"d03f56cd.2fc0a8","name":"Home","icon":"dashboard"},{"id":"c0e6a55e.3f1958","type":"ui_base","name":"Node-RED Dashboard","theme":"theme-light"},{"id":"1cb7dd29.e34823","type":"ui_group","z":"d03f56cd.2fc0a8","name":"Default","tab":"d357f75f.2ca808","disp":true,"width":"6"},{"id":"5746143a.a8b9ec","type":"ui_link","z":"","name":"Photos","link":"../photos","icon":"open_in_browser","target":"iframe","order":1},{"id":"3beb1089.c414f","type":"serial-port","z":"d03f56cd.2fc0a8","serialport":"/dev/ttyACM0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"9b2b2de1.64d4d","type":"inject","z":"d03f56cd.2fc0a8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":160,"y":60,"wires":[["90bc689d.6f4398"]]},{"id":"d6a26ae.f295d98","type":"template","z":"d03f56cd.2fc0a8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"-t 100 -ISO {{topic}} -o static/photos/{{payload}}.jpg","x":530,"y":60,"wires":[["13a0bf9b.ec5f4"]]},{"id":"13a0bf9b.ec5f4","type":"exec","z":"d03f56cd.2fc0a8","command":"raspistill","addpay":true,"append":"","useSpawn":"","timer":"","name":"","x":800,"y":60,"wires":[["d110a163.2eef6"],[],[]]},{"id":"c02e856c.3fd178","type":"exec","z":"d03f56cd.2fc0a8","command":"cd static/photos; ls *.jpg","addpay":false,"append":"","useSpawn":"","timer":"","name":"","x":410,"y":320,"wires":[["fc718180.038e8"],[],[]]},{"id":"fc718180.038e8","type":"function","z":"d03f56cd.2fc0a8","name":"","func":"var filenames = msg.payload.split('\\n');\nmsg.payload = [];\n\nfor (var filename of filenames) {\n    if (filename)\n        msg.payload.push({'filename': filename});\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":300,"wires":[["4a1f4811.b5e0b8"]]},{"id":"4a1f4811.b5e0b8","type":"template","z":"d03f56cd.2fc0a8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{#payload}}\n  <a href=\"{{{filename}}}\"><img src=\"{{{filename}}}\" width=20% /></a>\n{{/payload}}","x":750,"y":300,"wires":[["722c2c62.8dd3d4"]]},{"id":"722c2c62.8dd3d4","type":"http response","z":"d03f56cd.2fc0a8","name":"","x":910,"y":300,"wires":[]},{"id":"ed96249f.1269d8","type":"http in","z":"d03f56cd.2fc0a8","name":"","url":"/photos","method":"get","swaggerDoc":"","x":130,"y":320,"wires":[["c02e856c.3fd178"]]},{"id":"117b1837.ee84e8","type":"template","z":"d03f56cd.2fc0a8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"-t 5000","x":530,"y":100,"wires":[["13a0bf9b.ec5f4"]]},{"id":"8901e5dd.76fe18","type":"inject","z":"d03f56cd.2fc0a8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":160,"y":100,"wires":[["117b1837.ee84e8"]]},{"id":"dfaa4340.2055c","type":"ui_dropdown","z":"d03f56cd.2fc0a8","name":"","label":"ISO","group":"1cb7dd29.e34823","order":0,"width":0,"height":0,"options":[{"label":"100","value":"100"},{"label":"200","value":"200"},{"label":"300","value":"300"},{"label":"400","value":"400"},{"label":"500","value":"500"},{"label":"600","value":"600"},{"label":"700","value":"700"},{"label":"800","value":"800"}],"payload":"","topic":"","x":110,"y":220,"wires":[["2fcc384b.d033c8"]]},{"id":"2fcc384b.d033c8","type":"change","z":"d03f56cd.2fc0a8","name":"","rules":[{"t":"set","p":"iso","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":220,"wires":[[]]},{"id":"90bc689d.6f4398","type":"change","z":"d03f56cd.2fc0a8","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"iso","tot":"flow"},{"t":"set","p":"filename","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":60,"wires":[["d6a26ae.f295d98"]]},{"id":"18acaada.e75355","type":"inject","z":"d03f56cd.2fc0a8","name":"","topic":"","payload":"800","payloadType":"str","repeat":"","crontab":"","once":true,"x":130,"y":180,"wires":[["2fcc384b.d033c8"]]},{"id":"927a0e25.6d85f","type":"ui_button","z":"d03f56cd.2fc0a8","name":"","group":"1cb7dd29.e34823","order":0,"width":0,"height":0,"label":"Snap !","color":"","icon":"","payload":"","payloadType":"date","topic":"","x":130,"y":20,"wires":[["90bc689d.6f4398"]]},{"id":"e01b0a6f.1fe4f8","type":"ui_template","z":"d03f56cd.2fc0a8","group":"1cb7dd29.e34823","name":"","order":0,"width":"6","height":"5","format":"<img ng-src=\"../{{msg.payload}}\" alt=\"Description\" />","storeOutMessages":true,"fwdInMessages":true,"x":1140,"y":60,"wires":[[]]},{"id":"d110a163.2eef6","type":"function","z":"d03f56cd.2fc0a8","name":"","func":"msg.payload = msg.filename + '.jpg';\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":60,"wires":[["e01b0a6f.1fe4f8"]]},{"id":"57645054.a89bb","type":"serial in","z":"d03f56cd.2fc0a8","name":"","serial":"3beb1089.c414f","x":226.5,"y":473,"wires":[["e71e4d8c.18e1b"]]},{"id":"d7509519.28af68","type":"debug","z":"d03f56cd.2fc0a8","name":"","active":true,"console":"false","complete":"false","x":1049.5,"y":469,"wires":[]},{"id":"e71e4d8c.18e1b","type":"switch","z":"d03f56cd.2fc0a8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"400","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":418.5,"y":471,"wires":[["86afaae6.795058"],["1fe8cec3.e01731"]]},{"id":"86afaae6.795058","type":"change","z":"d03f56cd.2fc0a8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":653.5,"y":472,"wires":[["6ab8f55d.95470c"]]},{"id":"6ab8f55d.95470c","type":"rbe","z":"d03f56cd.2fc0a8","name":"","func":"rbe","gap":"","start":"","inout":"out","x":855.5,"y":471,"wires":[["d7509519.28af68"]]},{"id":"1fe8cec3.e01731","type":"change","z":"d03f56cd.2fc0a8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":653,"y":516,"wires":[["6ab8f55d.95470c"]]}]